<div class="weather container">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="col-xs-12"><i class="fa fa-sun-o"></i> Weather</h3>
                <form>
                    <div class="form-group col-xs-12">
                        <div class="input-group">
                                <input ng-model="city" type="text" class="form-control" placeholder="City Search">
                                <div class="input-group-addon pointer" ng-click="changeCity(city)"><i class="fa fa-search"></i></div>
                        </div>
                        <input type="submit" class="hidden" value="Search" ng-click="changeCity(city)">
                    </div>
                </form>
                <div ng-if="msg" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    				<span class="sr-only">Error:</span>
    				{{msg}}
                </div>
		    </div>
        </div>
    </div>    
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right">  
        <div class="panel panel-default">
    		<div class="panel-heading">
    		    <h4 class="panel-title">
    		        <strong>{{ openWeather.name }}</strong> <small> | {{ openWeather.main.temp }} &deg;C</small>
    		        <img ng-src="https://sobic-last-gamesrol.c9.io/public/index.php/api/?url=http://openweathermap.org/img/w/{{ openWeather.weather[0].icon }}.png"/>
    		        {{ openWeather.weather[0].main }}
                    <p class="small">Info: {{ openWeather.weather[0].description }}</p>
    			<h4> 
    		</div>
		    <table class="table table-striped table-condensed table-bordered">
				<tr>
					<th>Max Temp</th><td>{{openWeather.main.temp_max}} &deg;C</td>
				</tr>
				<tr>
					<th>Min Temp</th><td>{{openWeather.main.temp_min}} &deg;C</td>
				</tr>
				<tr>
					<th>Humidity</th><td>{{openWeather.main.humidity}}%</td>
				</tr>
				<tr>
					<th>Pressure</th><td>{{openWeather.main.pressure}} atm</td>
				</tr>
				<tr>
					<th>Longitude</th><td>{{openWeather.coord.lon}}&deg;</td>
				</tr>
				<tr>
				    <th>Latitude</th><td>{{openWeather.coord.lat}}&deg;</td>
				</tr>
			</table>
    	</div>
    </div>
</div>





<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
    
</ui-gmap-google-map>

