<div class="shop container">
	<h3 class="col-xs-12"><i class="fa fa-list"></i> Pruebas</h3>
	<div class="form-group col-xs-11 col-sm-7 col-md-5">
		<div class="input-group">
			<input ng-model="filter" type="text" class="form-control" placeholder="Pruebas Search">
			<div class="input-group-addon pointer"><i class="fa fa-search"></i></div>
		</div>
	</div>
	<div ng-if="user" class="form-group col-xs-1 col-sm-1">
		<a href="pruebas/form" class="btn btn-default" ng-click=""><i class="fa fa-plus"></i></a>
	</div>

	<div class="row list">
		<div class="col-xs-12 col-sm-12">
			<div ng-repeat="item in list | filter: filter " class="animate col-xs-6 col-md-4 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
					    <h4 class="panel-title">{{item.name}}<h4> 
					</div>
					<div class="panel-body">
						<ul>
							<li>{{item.name}}</li>
							<li>{{item.hola}}</li>
						</ul>
					</div>
					<div class="panel-footer">	
						<a class="btn btn-default" ng-click="removePrueba(item)"><i class="fa fa-trash-o"></i></a>
						<a class="btn btn-default" href="/pruebas/form/{{item.id}}"><i class="fa fa-pencil-square-o"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
