<!DOCTYPE html>
<html>
	<head>
		<title>Sobic | Framework 1.2 b</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link rel="shortcut icon" href="/img/favicon.ico"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/flag-icon.css">
		<link rel="stylesheet" href="css/main.css">

		<script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/libs/1.4.7/angular.min.js"></script>
		<script type="text/javascript" src="js/libs/1.4.7/angular-cookies.min.js"></script>
		<script type="text/javascript" src="js/libs/1.4.7/angular-route.min.js"></script>
		<script type="text/javascript" src="js/libs/1.4.7/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-parallax.js"></script>
		<script type="text/javascript" src="js/libs/oauth.js"></script>
		<script type="text/javascript" src="js/libs/ng-file-upload-shim.js"></script>
		<script type="text/javascript" src="js/libs/ng-file-upload.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-translate.min.js"></script>
		
		<script type="text/javascript" src="js/locate/EN_en.js"></script>
		<script type="text/javascript" src="js/locate/ES_es.js"></script>
		
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/controllers/menu.js"></script>
		<script type="text/javascript" src="js/controllers/user/userMain.js"></script>
		<script type="text/javascript" src="js/controllers/user/recovery.js"></script>
		<script type="text/javascript" src="js/controllers/user/pass.js"></script>
		<script type="text/javascript" src="js/controllers/user/userShow.js"></script>
		<script type="text/javascript" src="js/controllers/profile/profileShow.js"></script>
		<script type="text/javascript" src="js/controllers/profile/profileForm.js"></script>
		<script type="text/javascript" src="js/controllers/modal/main.js"></script>
		<script type="text/javascript" src="js/controllers/pages/main.js"></script>
		
		<!-- It is important to respect these comments to generate smooth scaffold. -->
		<!-- Scaffold JS -->
		
	</head>

	<body ng-app="sobic">
		<header ng-controller="MenuController">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button id="btn-info" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/" title="{{ 'page_name' | translate }}">{{ 'page_name' | translate }}</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
						
						<ul class="nav navbar-nav">
							<li>
								<a ng-click="changeLanguage('es')" class="pointer">
									<span class="flag-icon flag-icon-es"></span>
								</a>
							</li>
							<li>
								<a ng-click="changeLanguage('en')" class="pointer">
									<span class="flag-icon flag-icon-gb"></span>
								</a>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right" ng-if="!user">
							<li><a ng-click="logg('login')" class="shadowText pointer" title="{{ 'login' | translate }}"><span>{{ 'login' | translate }}</span></a></li>
							<li><a ng-click="logg('signup')" class="shadowText pointer" title="{{ 'signup' | translate }}"><span>{{ 'signup' | translate }}</span></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" ng-if="user">
							<!-- It is important to respect these comments to generate smooth scaffold. -->
							<!-- Scaffold HTML -->
							<li><a href="profile" class="shadowText" title="{{ 'profile' | translate }}"><span>{{ 'profile' | translate }}</span></a></li>
							<li ng-if="user.isAdmin"><a href="users/show" class="shadowText" title="{{ 'users' | translate }}"><span>{{ 'users' | translate }}</span></a></li>
							<li><a ng-click="logout()" class="shadowText pointer" title="{{ 'logout' | translate }}"><span>{{ 'logout' | translate }}</span></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section id="main-container">
			<article id="yield" ng-view class="page" closedmenu>
				<h1>UPSS!!..No worries, Nextsun ants will fix it in a while. <i class="fa fa-bed"></i></h1>
			</article>
		</section>
	</body>
</html>
