<div class="container">
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6">
			<h3><i class="fa fa-list"></i> {{ 'profile' | translate }}</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><img ng-if="user.img" ng-src="{{user.img}}" class="img-circle"> {{profile.title}} {{profile.name}} {{profile.surname}}<h4>
				</div>
				<div class="panel-body" ng-if="profile">
					<ul>
						<li>{{profile.address}}, {{profile.postalCode}}, {{profile.city}} ({{profile.country}})</li>
						<li>{{profile.phoneNumber}}</li>
						<li>{{profile.dateBirth}}</li>
						<li><a ng-href="{{profile.linkedin}}">Link</a></li>
						<li>{{profile.summary}}</li>
					</ul>
				</div>
				<div class="panel-body" ng-if="!profile">
					{{ 'profile_not' | translate }}
				</div>
				<div class="panel-footer">
					<a class="btn btn-default" href="/profile/form"><i class="fa fa-pencil-square-o"> {{ 'edit' | translate }}</i></a>
					<a class="btn btn-default" href="/profile/password" ng-if="!user.social"><i class="fa fa-key fa-flip-vertical"></i> {{ 'change_password' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
